@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: inter;
}

body {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-background: #0a0b0d;
  --color-border: #8a919e33;
  --color-bg-hover: #2563eb33;

  --color-activity-0: #161a22;
  --color-activity-1: #0e1c44;
  --color-activity-2: #001b6d;
  --color-activity-3: #2648a6;
  --color-activity-4: #3965d3;

  --color-text-primary: #ffffff;

  --spacing-sidebar: 256px;
  --spacing-sidebar-mobile: 105px;
  --spacing-topbar: 101px;
}

@layer base {
  * {
    @apply text-white;
  }

  .invalid-input {
    @apply border-red-500 ring-red-500;
  }

  .required-label::after {
    content: "*";
    @apply ml-1 text-red-500;
  }
}
